* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #5c5c5c, #393939);
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-fluid {
  width: 400px;
  margin: 60px auto;
  padding: 10px;
}

.inputs {
  padding: 2rem 0;
  text-align: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}

.inputs input[type="text"] {
  height: 4rem;
  width: 20rem;
  background: #333;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-right: 4px;
}

.inputs input[type="submit"] {
  height: 3rem;
  width: 6rem;
  background: #0a67ca;
  font-weight: bold;
  color: white;
  font-size: 1rem;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.display {
  text-align: center;
  width: 400px;
  color: #16a864;
}

.wrapper {
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.8);
  height: auto;
  margin-top: 50px;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.wrapper h2 {
  padding: 10px;
  text-align: center;
  background: #0a67ca;
  color: white;
  font-family: 'Arial', sans-serif;
  border-radius: 4px;
}

.wrapper p {
  margin: 20px;
  text-align: left;
  color: #333;
  font-size: 18px;
}

.wrapper h2 span {
  font-size: 26px;
  color: #70e6f8;
}

.wrapper p span {
  color: #f4780d;
  font-size: 25px;
}

body {
  background: url('image.webp') center/cover no-repeat fixed;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:
    linear-gradient(rgba(0, 0, 0, 0.4) 30%,
      rgba(0, 0, 0, 0.2) 70%),
    url('image.webp') center/cover no-repeat fixed;
  z-index: -1;
  filter: blur(3px);
}